@charset "UTF-8";
.section.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.container.header__navigation {
  display: flex;
  align-items: center;
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 25px;
  color: var(--primary-text-color);
}

.header__logo span {
  color: var(--accent-color);
}

.header__navigation {
  margin-left: 93px;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:first-child) {
  margin-left: 54px;
}

/* .nav-item:first-child{
    margin-left: 0;
} */
.navigation__link,
.contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__navigation-link:hover,
.header__navigation-link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:first-child) {
  margin-left: 50px;
}

/* .contact-item:nth-child(2){
    margin-left: 50px;
} */
.contacts__link {
  color: var(--secondary-text-color);
}

.section.main {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bgi.jpg);
  background-position: center;
}

.section.main,
.section.footer {
  background-color: var(--background-color);
}

.main__text {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--thirdly-text-color);
}

.main__button {
  display: inline-flex;
  background-color: var(--accent-color);
  color: var(--thirdly-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  /* transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 1000ms; */
}

.main__button:hover,
.main__button:focus {
  background-color: aquamarine;
  color: #2F303A;
}

/* модально окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--thirdly-text-color);
}

.modal-button {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(0%, 0%);
}

.modal__window {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
}

.modal__window:hover {
  border-color: #2196F3;
}

.modal__text {
  width: 22px;
  height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-left: 40px;
}

.modal__name {
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal__com {
  width: 448px;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__ok {
  position: absolute;
  left: 0;
  margin-top: 25px;
  margin-right: 8.38px;
  margin-left: 52px;
}

.modal__q {
  margin-top: 25px;
}

.argument {
  color: #2196F3;
}

.modal__icons {
  position: absolute;
  margin-top: 14px;
  margin-left: 15px;
  margin-bottom: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fetures {
  display: flex;
  justify-content: space-between;
}

.fetures__item {
  width: 270px;
}

.boxes {
  width: 270px;
  background-color: #F5F4FA;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.boxes__icon {
  width: 70px;
  height: 70px;
}

.section {
  width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 1px solid black; */
}

.container {
  /* outline: 1px solid red; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.apps {
  display: flex;
}

.apps__item:not(:last-child) {
  margin-right: 30px;
}

.thumbsec {
  position: relative;
  width: 370px;
  height: 294px;
}

.overlaytext {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}

.overtext {
  padding-top: 20px;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* overlay */
.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
}

.link:hover .overlay,
.link:focus .overlay {
  transform: translateY(0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.overlay-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--thirdly-text-color);
}

.section.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__items {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  color: var(--thirdly-text-color);
}

address {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--thirdly-text-color);
  margin-top: 20px;
}

.footer.contacts {
  display: block;
  margin-top: 9px;
}

.footer.contacts__item:last-child {
  margin-left: 0;
  margin-top: 9px;
}

.footer__contacts {
  margin-right: 70px;
}

/* Приєднуйтесь */
.invite__networks {
  color: var(--thirdly-text-color);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.footer.networks {
  margin-top: 20px;
}

.invite.networks__link {
  background-color: rgba(255, 255, 255, 0.1); /* #2f303a */
  color: var(--thirdly-text-color);
}

.invite.social-icon {
  /* Наслідує колір від батьківського елементу
   в стані спокою та при ховері і фокусі */
  fill: currentColor;
}

.section.team {
  background-color: #F5F4FA;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.team__item {
  flex-basis: calc((100% - 120px) / 4);
  margin: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
}

.team__card {
  padding: 30px 32px;
  text-align: center;
  background-color: var(--thirdly-text-color);
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.team__rank {
  font-size: 16px;
  line-height: 19px;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.networks {
  display: flex;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--thirdly-text-color);
  color: var(--svg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link:hover,
.networks__link:focus {
  background-color: var(--accent-color);
  color: var(--thirdly-text-color);
}

.networks__icon {
  fill: currentColor;
}

.customers {
  display: flex;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--svg);
  color: var(--svg);
  border-radius: 4px;
}

.customers__link:hover,
.customers__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.customers__icon {
  fill: currentColor;
}

:root {
  --accent-color:#2196F3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --thirdly-text-color: #FFFFFF;
  --background-color: #2F303A;
  --svg: rgba(175, 177, 184, 1);
  --card-border-line: #EEEEEE;
}

/* Загальні стилі */
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=main.css.map */